.card{
    margin: 0, auto;
    align-self: center;
}

#category-name-div{
    min-height: 50px;
    z-index: -4;
    padding-top: 12px;
    padding-bottom: 12px;
}
h6 {
    color: white;
}

#createAPost-modal{
    min-height: 400px;
}

.brand-logo{
    height: 100px;
    width: 125px;
    margin-left: 25px;
    margin-top: 10px;
}

nav{
    height: 120px;
}

#nav-links {
    padding-top: 16px;
}
.category-name {
    font-weight: bolder;
}

#modal1-button {
    position: fixed;
    bottom: 40px; 
    right: 40px;
    z-index: 40;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header a:link {
    color: #FFAB40;
    line-height: 30px;
    font-weight: bolder;
}
.card-header a:visited{
    color :#FFAB40;
    line-height: 30px;
    font-weight: bolder;
    
}
.card-action{
    color: #FFAB40;

}

.modal{
    overflow: auto;
}

.btn-flat{
    color: white;
}

.dropdown-content {
    color: #1b237e!important;
}
.dropdown-content li {
    color: #1b237e!important;

}
input.select-dropdown {
    color: #1b237e!important;
}

input:focus {
    border-bottom: 1px solid#1b237e!important;
    box-shadow: 0 1px 0 0 #1b237e;;
 }

label:active {
    color: #005DAB;
  }


  @media screen and (max-width: 990px) {

  }


/* music api displays */
.apiButtonClass {
    position: relative; 
    height: 70px;
}

.button-height {
    position: absolute;
    right: 10px;
    min-height: 60px;
}

.textRight {
    text-align: right;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(0, 0, 0, 0.678);
    margin-bottom: 30px;
    margin-top: -30px;
}

.lessMargin {
    margin-bottom: 0;
}

.hiddenDiv {
    height: auto;
    font-family: 'Archivo Narrow', sans-serif;
    overflow: hidden;
}

.musicApiDiv{
    border: #005DAB solid 2px;
    height: 200px;
}

.minorSpacing {
    margin-left: 10px;
}

.musicApiResult {
    overflow: hidden;
}
/* end of music api displays */

/* gaming api displays */

.gamingApiDiv {
    border: #005DAB solid 2px;
    height: 400px;
}

.gamingHeader {
    margin-bottom: 50px;
    margin-top: 30px;
}

.gamingApiSubmit {
    margin-top: 20px;
}
/* end of gaming api displays */