.card{
    margin: 0, auto;
    align-self: center;
}

#category-div{
    min-height: 50px;
    z-index: -4;
    padding-top: 12px;
    padding-bottom: 12px;
}
h6 {
    color: white;
}

#modal1{
    height: 300px;
}

.brand-logo{
    height: 100px;
    width: 125px;
    margin-left: 25px;
}

nav{
    height: 100px;
}
