.card{
    margin: 0, auto;
    align-self: center;
}

#category-name-div{
    min-height: 50px;
    z-index: -4;
    padding-top: 12px;
    padding-bottom: 12px;
}
h6 {
    color: white;
}

#modal1{
    height: 300px;
}

.brand-logo{
    height: 100px;
    width: 125px;
    margin-left: 25px;
    margin-top: 10px;
}

nav{
    height: 120px;
}

#nav-links {
    padding-top: 16px;
}
.category-name {
    font-weight: bolder;
}

#modal-button {
    position: fixed;
    bottom: 40px; 
    right: 40px;
    z-index: 40;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header a:link {
    color: #FFAB40;
    line-height: 30px;
    font-weight: bolder;
}
.card-header a:visited{
    color :#FFAB40;
    line-height: 30px;
    font-weight: bolder;
    
}
.card-action{
    color: #FFAB40;

}



